*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}

body{
	background-color: #faffff;
}


/* div, h1, body, nav, ul, img, form, input, th, td{
	border: crimson solid 1px;
}  */

th, td{
	vertical-align: middle;
}

#status-found{
	background-color: #7bf282;
	width:10px;
	height: 10px
}
#status-not-found{
	background-color: #ff7979;
	width:10px;
	height: 10px
}

#login-form , #registration-form{
	background-color: white;
}

#navigation-bar{
	background-color: lightgray;
}



@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details { display: none }
	div.less-details { display: block; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details { display: block; }
	div.less-details { display: none; }
	.hideable-column { display: none }
}

@media screen and (min-width: 1024px) {
	/* small screen */
	div.less-details { display: none; }
	.hideable-column { display: table-cell; }
}


